-solutions.each do |solution|
  -exercise = solution.exercise
  .pure-u-1-2
    =link_to [exercise.track, exercise, solution], class: 'solution' do
      .icon
        .img{style: "background-image:url('#{image_path(exercise.white_icon_url)}')"}
      .title-bar
        .title= exercise.title
        .track #{exercise.track.title} Track
      .reactions
        .reaction
          %i.fa.fa-fw.fa-thumbs-up
          .count= reaction_counts[[solution.id, "like"]].to_i
        .reaction
          %i.fa.fa-fw.fa-heart
          .count= reaction_counts[[solution.id, "love"]].to_i
        .reaction
          =image_tag "genius.png"
          .count= reaction_counts[[solution.id, "genius"]].to_i
        .reaction
          %i.fa.fa-fw.fa-comment
          .count= comment_counts[solution.id].to_i

