-solutions.each do |solution|
  -exercise = solution.exercise
  .pure-u-1.pure-u-lg-1-2
    =link_to [exercise.track, exercise, solution], class: 'solution' do
      .icon
        .img{style: "background-image:url('#{image_path(exercise.white_icon_url)}')"}
      .title-bar
        .title= exercise.title
        .track #{exercise.track.title} track
      .details
        .published-at
          = graphical_icon "clock", style: :light
          #{solution.published_at.strftime("%b %d %Y")}
        .detail
          = graphical_icon "comment", style: :light
          =solution.num_comments
        .detail
          = graphical_icon "star", style: :light
          =solution.num_stars
