-solutions.each do |solution|
  -exercise = solution.exercise
  .pure-u-1.pure-u-lg-1-2
    =link_to [exercise.track, exercise, solution], class: 'solution' do
      .icon
        .img{style: "background-image:url('#{image_path(exercise.white_icon_url)}')"}
      .title-bar
        .title= exercise.title
        .track #{exercise.track.title} track
      .reactions
        .reaction
          =reaction_like_icon
          .count= reaction_counts[[solution.id, "like"]].to_i
        .reaction
          =reaction_love_icon
          .count= reaction_counts[[solution.id, "love"]].to_i
        .reaction
          =reaction_genius_icon
          .count= reaction_counts[[solution.id, "genius"]].to_i
        .reaction
          =icon 'comment fa-fw', 'comment'
          .count= comment_counts[solution.id].to_i
