.maintainers-section
  .lo-container
    .h2-subtitle Passionate. Knowledgeable. Creative.
    %h2
      Meet the #{@track.title} Track Maintainers
      %i.fa.fa-wrench
    %p The #{@track.title} Maintainers are the brains behind the #{@track.title} Track. They spend their spare time creating interesting and challenging exercises that we can all learn from. We are incredibly grateful for their hard work. Here are the bios of a few of #{link_to "the maintainers of this track", track_maintainers_path(@track)}.
    .pure-g.maintainers
      -@maintainers.each do |maintainer|
        .pure-u-1-2
          .maintainer
            .pure-g
              .pure-u-1-4
                =image_tag maintainer.avatar_url
              .pure-u-3-4
                %h3
                  = maintainer.name
                  -if maintainer.link_text.present? && maintainer.link_url.present?
                    =link_to maintainer.link_text, maintainer.link_url, target: "_blank"
                .bio= maintainer.bio
