-return unless maintainers.present?
.maintainers-section
  .lo-container
    .h2-subtitle Passionate. Knowledgeable. Creative.
    %h2
      Meet the #{track.title} Track maintainers
      =graphical_icon :wrench, style: :solid
    %p The #{track.title} Maintainers are the brains behind the #{track.title} Track. They spend their spare time creating interesting and challenging exercises that we can all learn from. We are incredibly grateful for their hard work. Here are the bios of a few of #{link_to "the maintainers of this track", track_maintainers_path(track)}.
    .pure-g.maintainers
      -maintainers.each do |maintainer|
        .pure-u-1.pure-u-md-1-2= maintainer_widget(maintainer)
