.overview-section
  .lo-container
    .pure-g
      .pure-u-1.pure-u-md-1-3
        .icon
          =image "track-page-mentors.png", "Track mentors"
        %h3 #{number_with_delimiter @track.mentors.size} #{"Mentor".pluralize(@track.mentors.size)}
        .info Our mentors are friendly, experienced #{@track.title} developers who will help teach you new techniques and tricks.

      .pure-u-1.pure-u-md-1-3
        .icon
          =image "track-page-students.png", "Track students"
        %h3 #{number_with_delimiter @track.user_tracks.size} Students
        .info
          Join
          -if @track.user_tracks.size >= 2000
            thousands
          -else
            hundreds
          of students who have enjoyed learning and improving their skills by taking this track.

      .pure-u-1.pure-u-md-1-3
        .icon
          =image "track-page-exercises.png", "Track exercises"
        %h3= pluralize @track.exercises.active.size, "Exercise"
        .info Hundreds of hours have gone into making these exercises fun, useful, and challenging to help you enjoy learning.
