#track-maintainers-page
  #nav.lo-nav-bar
    .lo-container
      =link_to "Home", root_path
      =link_to "Language tracks", [:tracks]
      =link_to "#{@track.title} track", @track
      %span Maintainers

  .header
    .visual-section
      .line
      .lo-container
        =bordered_turquoise_track_icon(@track, class: 'logo')
    .lo-container
      %h1 #{@track.title} Maintainers
      .h1-subtitle Our maintainers are the lynchpins of the language tracks and exercises on Exercism. This group of wonderful people maintain the #{@track.title} Track, creating and updating the exercises and tooling for #{@track.title}.

  .lo-container
    .pure-g.people
      -@maintainers.each do |maintainer|
        .pure-u-1.pure-u-md-1-2= maintainer_widget(maintainer)
