#track-page
  #nav.lo-nav-bar
    .lo-container
      =link_to "Home", root_path
      =image_tag "nav-divider.png"
      =link_to "Language Tracks", [:tracks]
      =image_tag "nav-divider.png"
      %span #{@track.title} Track

  .header
    .visual-section
      .line
      .lo-container
        =bordered_turquoise_track_icon(@track, class: 'logo')
    .lo-container
      %h1= @track.title
      / TODO - Work out where this button should go
      = link_to "Join the #{@track.title} Track", [:my, :user_tracks, track_id: @track], method: :post, class: 'pure-button'
      .h1-subtitle= @track.introduction

  =render "tracks/overview"
  =render "tracks/about"
  =render "tracks/testimonial"
  =render "tracks/mentors"
  =render "tracks/exercises"
  =render "tracks/maintainers"

  .cta-section
    .lo-container
      %h2 Get started with the #{@track.title} track. As with everything on Exercism, it's 100% free.
      / TODO - Work out where this button should go
      = link_to "Join the #{@track.title} Track", [:my, :user_tracks, track_id: @track], method: :post, class: 'pure-button'
