-if solution && solution.completed?
  -img_url = exercise.white_icon_url
-elsif solution && solution.in_progress?
  -img_url = exercise.turquoise_icon_url
-else
  -img_url = exercise.dark_icon_url

%div{id: "exercise-#{exercise.slug}"}
  .icon
    .img{style: "background-image:url('#{image_path(img_url)}')"}

  =icon 'lock status locked'
  =icon 'unlock status unlocked'
  =icon 'comment status mentoring-requested'
  =icon 'adjust status in-progress'
  =icon 'thumbs-up status approved'
  .status.completed
    =icon :check

  %h2.title= exercise.title
  -length_word = exercise_length_word(exercise)
  -difficulty_word = exercise_difficulty_word(exercise)
  .stats
    -# TODO: Uncomment this when exercise_length_word has been fix to no longer return medium by default
    -# .length{class: length_word}= length_word
    .difficulty{class: difficulty_word}= difficulty_word
  .topics
    -if exercise.topic_names.present?
      - exercise.topic_names.each do |topic_name|
        .topic= topic_name
    -else
      .topic misc
