.icon
  .img{style: "background-image:url('#{image_path(exercise.icon_url)}')"}

%i.fa.fa-lock.status.locked
%i.fa.fa-unlock.status.unlocked
%i.fa.fa-spinner.status.in-progress
%i.fa.fa-check.status.completed

.title= exercise.title
-length_word = exercise_length_word(exercise)
-difficulty_word = exercise_difficulty_word(exercise)
.stats
  .length{class: length_word}
    %i.fa.fa-clock-o
    %span= length_word
  .difficulty{class: difficulty_word}
    %span= difficulty_word
.topics= exercise.topic_names.join(" | ")
