-if exercises_and_solutions.present?
  -exercises_and_solutions.each do |exercise, solution|
    .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
      -if solution
        -if solution.completed?
          = link_to [:my, solution], class: "widget-side-exercise completed" do
            =render "my/side_exercises/exercise", exercise: exercise, solution: solution
        -elsif solution.approved?
          = link_to [:my, solution], class: "widget-side-exercise approved" do
            =render "my/side_exercises/exercise", exercise: exercise, solution: solution
        -elsif solution.mentoring_requested?
          = link_to [:my, solution], class: "widget-side-exercise mentoring-requested" do
            =render "my/side_exercises/exercise", exercise: exercise, solution: solution
        -elsif solution.in_progress?
          = link_to [:my, solution], class: "widget-side-exercise in-progress" do
            =render "my/side_exercises/exercise", exercise: exercise, solution: solution
        -else
          = link_to [:my, solution], class: "widget-side-exercise unlocked" do
            =render "my/side_exercises/exercise", exercise: exercise, solution: solution
      -elsif @user_track.independent_mode? || !exercise.unlocked_by
        =cache(["my/side-exercises/_exercises", "unlockable-exercise", exercise], skip_digest: true, expires_in: 1.day) do
          = link_to [:my, :solutions, track_id: exercise.track, exercise_id: exercise], method: :post, class: 'widget-side-exercise unlocked' do
            =render "my/side_exercises/exercise", exercise: exercise, solution: nil
      -else
        =cache(["my/side-exercises/_exercises", "locked-exercise", exercise], skip_digest: true, expires_in: 1.day) do
          .widget-side-exercise.locked
            =render "my/side_exercises/exercise", exercise: exercise, solution: nil
-else
  .pure-u-1-1
    .no-results Sorry, no exercises match these criteria.
