- method ||= :post

- if form.errors.any?
  .errors
    - form.errors.full_messages.each do |error|
      %p= error

= form_for form,
  url: url,
  method: method,
  html: { class: "pure-form pure-form-stacked lo-changelog-admin-form" } do |f|
  = f.label :title, "Short (10 word?) title explaining what's changed"
  = f.text_field :title, required: true, placeholder: "e.g. New exercise! Bob has arrived on the Ruby track"

  = f.label :details_markdown, "Details - As much or as little as you like about what you did. What's the reason? What changes will the user see? Is this part of a set of changes?"
  = f.text_area :details_markdown

  = f.label :referenceable_gid, "What track/exercise does this apply to (if appropriate)"
  = f.grouped_collection_select :referenceable_gid,
    form.referenceable_types,
    :all,
    :name,
    :to_global_id,
    :title,
    { prompt: "General" }

  = f.label :info_url, "More info URL. Is there a PR, issue, or commit you can link to?"
  = f.text_field :info_url, placeholder: "e.g. https://github.com/exercism/wip/issues/35"

  = f.label :tweet_copy, "Tweet copy (max 250 chars)"
  = f.text_area :tweet_copy, max_length: 250

  = f.submit "Save", class: "pure-button pure-button-primary"
