%h1 Changelog Entry

%h2 Info

%dl
  %dt Title
  %dd= @entry.title
  %dt Details
  %dd= @entry.details_markdown
  %dt About
  %dd= @entry.referenceable_title
  %dt Info url
  %dd= @entry.info_url
  %dt Published at
  %dd= @entry.published_at

%h2 Actions

%ul
  %li= link_to "Publish",
    publish_changelog_admin_entry_path(@entry),
    data: { method: :post, confirm: "Are you sure you want to publish this entry?" }
