Hi #{@user.handle},
\
-if @introduction.present?
  = raw @introduction
  \
Site Summary
\------------
This week across Exercism #{@stats[:site][:num_solutions]} solutions were submitted by #{@stats[:site][:num_learners]} people. Of these, #{@stats[:site][:num_solutions_for_mentoring]} solutions were submitted for mentoring. A total of #{@stats[:site][:num_mentors]} mentors gave feedback on #{@stats[:site][:num_solution_mentorships]} solutions.
\

-@stats[:tracks].each do |track|
  #{track[:title]}
  \------------
  -track[:stats].each do |key, value|
    \- #{key.to_s.humanize}: #{value}
  \

Thanks for all your hard work this week!
