:css
  #mentoring-heartbeat-table {
    width:auto;
  }
  #mentoring-heartbeat-table th {
    padding:0px 10px 7px 0;
    text-align:left;
  }
  #mentoring-heartbeat-table td {
    padding:0px 0px 7px 10px;
    text-align:right;
    color:#333;
  }

.content
  %p Hi #{@user.handle},

  -if @introduction.present?
    %p= raw simple_format(@introduction)

  %p{style: "font-weight:600;text-decoration:underline;margin-bottom:5px;margin-top:20px"} Site Summary
  %p
    This week across Exercism
    %strong #{@stats[:site][:num_solutions]} solutions
    were submitted by
    %strong #{@stats[:site][:num_learners]} people.
    Of these,
    %strong #{@stats[:site][:num_solutions_for_mentoring]} solutions
    were submitted for mentoring.
    A total of
    %strong #{@stats[:site][:num_mentors]} mentors
    gave feedback on
    %strong #{@stats[:site][:num_solution_mentorships]} solutions.

  -@stats[:tracks].each do |slug, track|
    %p{style: "font-weight:600;text-decoration:underline;margin-bottom:5px;margin-top:20px;"} #{track[:title]}

    %table#mentoring-heartbeat-table
      -track[:stats].each do |key, value|
        %tr
          %th - #{key.to_s.humanize}:
          %td= value

  %p{style: "margin-top:20px;"} Thanks for all your hard work this week!
