.activity.solution
  = image activity.user.avatar_url, "Avatar of #{activity.user.handle}"
  .title
    %strong #{activity.user.handle}
    started
    %strong #{activity.exercise.title}
    on the
    %strong #{activity.exercise.track.title}
    Track.
