#teams-teams-page.teams-page
  .lo-container
    %h1 Your Teams

    -if @invitations.present?
      %h2 Pending Invitiations
      %table.teams-table
        - @invitations.each do |invite|
          %tr
            %td= invite.team_name
            %td
              %ul.inline-list
                %li= link_to "Accept",
                accept_teams_invitation_path(invite.id),
                method: :post
                %li= link_to "Reject",
                reject_teams_invitation_path(invite.id),
                method: :post,
                data: { confirm: "Are you sure you want to reject your invitation to #{invite.team_name}?" }

    .pure-g
      -if @teams.present?
        -@teams.each do |team|
          .pure-u-1-5
            = link_to [:teams, team], class: "team" do
              .img
              %h3= team.name
              .members
                %i.fa.fa-group
                .text
                  = team.members.count
                  Members

      .pure-u-1-5
        = link_to [:new, :teams, :team], class: 'new-team' do
          .img
          %h3 Create a new team
