#mentor-analyses
  .lo-container
    =form_tag({}, method: :get) do
      =select_tag :track_id, options_for_select(@tracks.map{|t|[t.title, t.id]}, @track_id), include_blank: true
      =button_tag "Filter", class: "pure-button"

    %table
      %tr
        %th Id
        %th Analysed at
        %th Language
        %th Exercise
        %th Pipeline Status
        %th Analysis Status
        %th
      -@analyses.each do |analysis|
        -iteration = analysis.iteration
        -solution = iteration.solution
        -exercise = solution.exercise
        -track = exercise.track
        %tr
          %td= analysis.id
          %td= analysis.created_at
          %td= track.slug
          %td= exercise.slug
          %td
            -if analysis.website_error.present?
              %code errored
            -else
              %code= analysis.status
          %td
            %code= analysis.analysis.try {|a|a['status'] }
          %td= link_to "View", mentor_analysis_path(analysis)

    =paginate(@analyses)
