-solutions.each do |solution|
  -exercise = solution.exercise
  -class_name = solution.has_unseen_feedback?? "in-progress" : "unlocked"
  .pure-u-1.pure-u-md-1-3
    = link_to teams_team_my_solution_path(@team, solution), class: "widget-side-exercise #{class_name}" do
      .icon
        .img{style: "background-image:url('#{image_path(exercise.turquoise_icon_url)}')"}

      .title= exercise.title
      .stats
        .language= exercise.track.title
        .num-iterations= pluralize solution.iterations.count, "iterations"
      .status
        -if solution.has_unseen_feedback?
          =graphical_icon 'comments', style: :duotone
          New feedback
        -elsif solution.needs_feedback?
          Awaiting feedback
