.section
  %h2 Our Terms &amp; Conditions
  %p
    Our Terms of Service say that you must act in a way that is in line with Exercism's values of respect and empathy per our
    #{link_to "Code of Conduct", code_of_conduct_page_path, target: "_blank"}.
    If you do not, we have the right to ban you. Any code you submit remains your property, but you grant us a licence to use it as we wish in perpetuity. You may use exercises (provided by Exercism) and solutions (created by users) in accordance with the
    #{link_to "MIT", mit_licence_path, target: "_blank"}
    and
    #{link_to "CC-BY-SA-4.0", cc_sa_4_licence_path, target: "_blank"}
    licences respectively.
    You can #{link_to "read it in full here", terms_page_path, target: "_blank"}.
  .field
    =f.check_box :accepted_terms_at, required: true
    =f.label :accepted_terms_at, "Accept terms and conditions"

.section
  %h2 Our Privacy Policy
  %p
    In brief our Privacy Policy says that we
    %strong will never share your details with anyone.
    You can #{link_to "read it in full here", privacy_page_path, target: "_blank"}.
  .field
    =f.check_box :accepted_privacy_policy_at, required: true
    =f.label :accepted_privacy_policy_at, "Accept privacy policy"

.section
  %h2 Communication Preferences
  %p
    By default, we will email you when a mentor comments on one of your solutions, and we will send you occasional updates to tell you about new features, languages and exercises. You can edit your communication preferences at any time from the main menu.
    We don't send marketing emails.
  .field
    =f.check_box :email_on_new_discussion_post, required: true, checked: true
    =f.label :email_on_new_discussion_post, "Email me when a mentor comments on my solution"
  .field
    =f.check_box :receive_product_updates, required: true, checked: true
    =f.label :receive_product_updates, "Send me updates about new features, languages and exercises"

=f.button "Save and continue to Exercism", class: 'pure-button'


