.core-exercises
  - num_core_exercises = core_exercises.size
  - core_exercises.each.with_index do |exercise, idx|
    - if exercise.completed?
      .exercise-wrapper.completed
        .circle= image "tick-color-1.png", "Green checkmark"
        = link_to [:my, exercise.solution], class: "exercise", id: "exercise-#{exercise.slug}" do
          -if exercise.solution.approved_by
            .status Completed
          -else
            .status.completed-unmentored
              Completed
              .unmentored
                %i.fa.fa-user-times
                Unmentored
          .position Exercise #{idx + 1} of #{num_core_exercises} in #{exercise.track_title} Track
          %h2.title
            = exercise.title
            .topics
              - exercise.topic_names.each do |topic_name|
                .topic= topic_name
          .blurb= exercise.blurb

        - if exercise.unlocked_exercises.any?
          .unlocked-exercises-section
            %h3 You've unlocked extra exercises!
            .unlocked-exercises
              = render "unlocked_exercises", unlocked_exercises: exercise.unlocked_exercises

    - elsif exercise.unlocked?
      .exercise-wrapper.in-progress
        .circle= graphical_image exercise.white_icon_url
        = link_to [:my, exercise.solution], class: "exercise", id: "exercise-#{exercise.slug}" do
          .status= exercise.solution.approved?? "Approved" : "In Progress"
          .position Exercise #{idx + 1} of #{num_core_exercises} in #{exercise.track_title} Track
          %h2.title
            = exercise.title
            .topics
              - exercise.topic_names.each do |topic_name|
                .topic= topic_name
          .blurb= exercise.blurb

    - elsif exercise.locked?
      .exercise-wrapper.locked
        .circle= graphical_image exercise.dark_icon_url
        .exercise{id: "exercise-#{exercise.slug}"}
          .status Locked
          .position Exercise #{idx + 1} of #{num_core_exercises} in #{exercise.track_title} Track
          %h2.title
            = exercise.title
            .topics
              - exercise.topic_names.each do |topic_name|
                .topic= topic_name
          .blurb= exercise.blurb
