.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
  =link_to [:my, track], class: (joined ? "track joined": "track") do
    -if joined
      =hex_turquoise_track_icon(track)
    -else
      =hex_white_track_icon(track)
    .status.locked Locked
    .status.unlocked Unlocked
    .status.in-progress In progress
    .status.completed Completed

    .title
      %h2= track.title
    -if joined
      .progress
        - percentage = num_completed_exercises / num_exercises * 100
        .filled{style: "width:#{percentage}%"}
        .num #{num_completed_exercises.to_i} / #{num_exercises.to_i} exercises
    -else
      .num-exercises= pluralize num_exercises.to_i, "exercise"
    -# .enrolled Joined by #{number_with_delimiter(num_users.to_i)} students
