.pure-u-1-3
  =link_to [:my, track], class: (joined ? "track joined": "track") do
    -if joined
      =image_tag image_path(track.hex_turqioise_icon_url)
    -else
      =image_tag image_path(track.hex_white_icon_url)
    .status.locked Locked
    .status.unlocked Unlocked
    .status.in-progress In progress
    .status.completed Completed
    .title= track.title
    -if joined
      .progress
        - percentage = @exercise_counts[track.id].to_f / track.exercises.active.count * 100
        .filled{style: "width:#{percentage}%"}
        #{@exercise_counts[track.id]} / #{track.exercises.active.count} exercises
    -else
      .num-exercises= pluralize track.exercises.active.count, "exercise"
    .enrolled Joined by #{pluralize track.user_tracks.count, "students"}
