#my-track-not-joined-page
  #nav.lo-external-nav-bar
    .lo-container
      =link_to "Home", root_path
      &middot;
      =link_to "Language Tracks", [:tracks]

  .header
    .visual-section
      .line
      .lo-container
        =image_tag @track.bordered_turqioise_icon_url, class: 'logo'
    .lo-container
      %h1= @track.title
      = link_to "Join the #{@track.title} Track", [:my, :user_tracks, track_id: @track], method: :post, class: 'pure-button'
      .h1-subtitle= @track.introduction

  =render "tracks/overview"
  =render "tracks/about"
  =render "tracks/testimonial"
  =render "tracks/mentors"
  =render "tracks/exercises"
  =render "tracks/maintainers"

  .cta-section
    .lo-container
      %h2 Get started with the #{@track.title} track. As with everything on Exercism, it's 100% free.
      = link_to "Join the #{@track.title} Track", [:my, :user_tracks, track_id: @track], method: :post, class: 'pure-button'
