#my-track-page
  #nav.lo-nav-bar
    .lo-container
      /=link_to "Dashboard", root_path
      /=image_tag "nav-divider.png"
      =link_to "Language Tracks", [:my, :tracks]
      =image_tag "nav-divider.png"
      %span #{@track.title} Track

  .header
    .visual-section
      .line
      .lo-container
        =bordered_green_track_icon(@track, class: 'logo')
        .status
          -if @user_track.independent_mode?
            Independent Mode
          -else
            Track in Progress
    .lo-container
      .stats
        .stat= pluralize @track.exercises.count, "Exercise"
        .stat #{number_with_delimiter(@track.user_tracks.count)} Students
        .stat= link_to pluralize(@track.mentorships.count, "Mentors"), track_mentors_path(@track)
        .stat= link_to pluralize(@track.maintainers.count, "Maintainers"), track_maintainers_path(@track)

      .title
        %h1 #{@track.title} Track
        .h1-subtitle Joined on #{@user_track.created_at.strftime("#{@user_track.created_at.day.ordinalize} %B %Y")}

  -if @user_track.independent_mode?
    =render "show_side_exercises", exercises_and_solutions: @exercises_and_solutions
  -else
    =render "show_normal_mode"

  -if @user_track.independent_mode === nil
    -content_for :js do
      -if @user_track.originated_in_v1?
        :javascript
          showModal("my-track-v1-migration", "#{j(render "v1_migration_modal", track: @track)}")
      -else
        :javascript
          showModal("my-track-started", "#{j(render "started_modal", track: @track)}")

  -if @track_completion_percentage == 100
    -content_for :js do
      :javascript
        showModal("my-track-finished", "#{j(render "finished_modal")}")

  -content_for :js do
    :javascript
      $('.topics .extra-button').click(function(e) {
        e.preventDefault()
        $(this).hide()
        $('.topics .extra').show()
      });
      submitOnChange($('.side_exercises_form select'))
