#my-track-page
  #nav.lo-nav-bar
    .lo-container
      /=link_to "Dashboard", root_path
      =link_to "Language tracks", [:my, :tracks]
      %span #{@track.title} Track

  .header
    .visual-section
      .line
      .lo-container
        =bordered_green_track_icon(@track, class: 'logo')
        .status
          -if @user_track.independent_mode?
            Independent Mode
          -else
            Track in progress
    .lo-container
      .title
        %h1 #{@track.title} Track
        .h1-subtitle Joined on #{@user_track.created_at.strftime("#{@user_track.created_at.day.ordinalize} %B %Y")}

      .stats
        .stat= pluralize @track.exercises.active.count, "Exercise"
        .stat #{number_with_delimiter(@track.user_tracks.count)} Students
        .stat= link_to pluralize(@track.mentors.count, "Mentors"), track_mentors_path(@track)
        .stat= link_to pluralize(@track.maintainers.count, "Maintainers"), track_maintainers_path(@track)

  -if @user_track.independent_mode?
    =render "show_independent_mode"
  -else
    =render "show_mentored_mode"

  -if @user_track.independent_mode === nil
    -content_for :js do
      -if @user_track.originated_in_v1?
        :javascript
          showModal("my-track-v1-migration", "#{j(render "v1_migration_modal", track: @track)}")
      -else
        :javascript
          showModal("my-track-started", "#{j(render "started_modal", track: @track)}")

  -if @track_completion_percentage == 100
    -content_for :js do
      :javascript
        showModal("my-track-finished", "#{j(render "finished_modal")}")

  -content_for :js do
    :javascript
      $('.topics .extra-button').click(function(e) {
        e.preventDefault()
        $(this).hide()
        $('.topics .extra').show()
      });
      submitOnChange($('.side_exercises_form select'))

- ['leave', 'pause'].each do |action|
  -content_for :js do
    :javascript
      $('.#{action}-track-btn').click(function() {
        showModal("#{action}-track", "#{j(render "#{action}_track_modal", track: @track)}")
      })

-if @user_track.independent_mode?
  -content_for :js do
    :javascript
      $('.change-to-mentored-btn').click(function() {
        showModal("change-to-mentored-mode", "#{j(render "change_to_mentored_mode_modal", track: @track)}")
      })
-else
  -content_for :js do
    :javascript
      $('.change-to-independent-btn').click(function() {
        showModal("change-to-independent-mode", "#{j(render "change_to_independent_mode_modal", track: @track)}")
      })

-if @user_track.paused?
  -content_for :js do
    :javascript
      showModal('unpause-track', '#{j render "paused_modal"}')
