#landing-page

  .welcome-section
    .lo-container
      .pure-g
        .pure-u-1-2.lhs= code_person_widget
        .pure-u-1-2.rhs
          %h1 Exercism
          %h2 Code Practice and Mentorship for Everyone
          %p
            Level up your programming skills with #{number_with_delimiter Exercise.active.count} exercises across #{Track.count} languages, and insightful discussion with our dedicated team of welcoming mentors.
            Exercism is
            =succeed('.') do
              %strong 100% free forever
          =link_to "Sign up", new_user_registration_path, class: "pure-button sign-up-button"
          =link_to "Explore languages", "#explore-languages", class: "pure-button languages-button"

  .pr-section
    .lo-container
      %h2 Exercism has been featured in...
      .logos
        =link_to image_tag("pr-logos/changelog.png"), "https://changelog.com/108/", target: "blank"
        =link_to image_tag("pr-logos/codeship.png"), "http://blog.codeship.com/an-inside-look-with-codeship-katrina-owen-of-exercism-io/", target: "blank"
        =link_to image_tag("pr-logos/code-newbie.png"), "http://www.codenewbie.org/podcast/nitpicks-and-devils", target: "blank"
        =link_to image_tag("pr-logos/wired.png"), "https://www.wired.com/2014/09/exercism/", target: "blank"
        =link_to image_tag("pr-logos/opensource.png"), "https://opensource.com/article/17/1/exercism-learning-programming", target: "blank"
        =link_to image_tag("pr-logos/sd-times.png"), "http://sdtimes.com/sd-times-github-project-week-exercism/", target: "blank"
        =link_to image_tag("pr-logos/linux.png"), "", target: "blank"

  .tracks-section#explore-languages
    .lo-container
      .title-block
        %h2 Available Language Tracks
        %p There are #{@tracks.size} different #{link_to "language tracks", tracks_path} on Exercism for you to explore. Which one will you choose to learn first?
      .tracks
        =render 'tracks_display', :tracks => @tracks

  .how-section
    .lo-container
      .title-block
        %h2 How Exercism works
        %p Learning through Exercism is quite different to other programming websites, with a focus on individual practice and mentor-based learning. Here's how it works.

      .step.pure-g.lalign
        .pure-u-1-3
          =image_tag "how-step-1.png"
        .pure-u-1-12
        .pure-u-7-12
          %h3 1. Choose a language to master
          %p Object oriented, functional, popular, emerging, or just plain obscure. With 39 different languages to explore, Exercism has something for you!
      .divider

      .step.pure-g
        .pure-u-1-3
          =image_tag "how-step-2.png"
        .pure-u-1-12
        .pure-u-7-12
          %h3 2. Complete a coding challenge on your computer
          %p All the coding happens on your machine in an environment you're familiar with. Download the template, solve the problem, and then upload your solution.
      .divider

      .step.pure-g
        .pure-u-1-3
          =image_tag "how-step-3.png"
        .pure-u-1-12
        .pure-u-7-12
          %h3 3. Upload your solution and review it with a mentor
          %p Discussing code is one of the best ways to learn. Our friendly mentors will comment on your solutions online, introducing you to new ideas and techniques.
      .divider

      .step.step-4.pure-g
        .pure-u-1-3
          .waterfall
          =image_tag "how-step-4.png"

        .pure-u-1-12
        .pure-u-7-12
          %h3 4. Unlock different concepts and exercises
          %p Our tracks have between 40 and 100 exercise each - some are fun, some are tricky, some are weird, but all will teach you something new.
      .divider

      .step.pure-g
        .pure-u-1-3
          =image_tag "how-step-5.png"
        .pure-u-1-12
        .pure-u-7-12
          %h3 5. Complete the language track and achieve fluency
          %p At the end of your language track you will have mastered the core concepts and idioms of your language and be ready to use it in the real world.
  .cta-section
    .lo-container
      %h2 Sign up to Exercism and get started on your first track now.
      = link_to "Sign up for FREE", new_user_registration_path, class: 'pure-button'

-content_for :js do
  :javascript
    setupLandingPage()

-unless session[:beta_modal_shown]
  - session[:beta_modal_shown] = true
  -content_for :js do
    :javascript
      showModal('announcement', '#{j render "mentor_announcement"}')
