-current_user_is_admin = @team.admin?(current_user)

#teams-memberships-page.team-page
  =teams_header
  .lo-container
    %h2 Your team
    .h2-subheading Manage your team and invite new members
    -if @invitations.present?
      .section
        %h3 Pending invitations
        %p These are people who have been invited to this team.
        %table.memberships-table
          %tr
            %th Email
            -if current_team_membership.admin?
              %th{colspan: 2} Actions
          -@invitations.each do |invitation|
            %tr
              %td
                = invitation.email
              -if current_team_membership.admin?
                /%td= link_to "Resend invite", "#"
                %td
                  = link_to "Remove",
                    teams_team_invitation_path(invitation.team, invitation),
                    method: :delete,
                    data: { confirm: "Are you sure you want to reject your invitation to #{invitation.email}?" }

    .section
      %h3 Team Members
      -if @memberships.present?
        %table.memberships-table
          %tr
            %th Name
            %th Status
            - if current_user_is_admin
              %th Actions
          -@memberships.each do |membership|
            %tr
              %td= membership.name
              %td
                = membership.admin?? "Admin" : "Member"
              - if current_user_is_admin && membership != current_team_membership
                %td= link_to "Remove",
                  teams_team_membership_path(membership.team, membership),
                  method: :delete,
                  data: { confirm: "Are you sure you want to remove #{membership.name} from your team?" }
        - if current_user_is_admin
          = link_to "Invite new member", [:new, :teams, @team, :invitation], class: 'pure-button'

    - if current_user_is_admin
      = render "teams/teams/memberships/settings", team: @team
