.post{id: "discussion-post-#{post.id}"}
  =image post.avatar_url, "Avatar of #{post.handle}", class: 'avatar'
  .post-body
    .post-header
      .created-at #{time_ago_in_words(post.created_at)} ago
      .user-handle= post.handle
      .user-status
        -if post.user == solution.user
          Student
        -else
          Teammate

    .editable-text-html= raw post.html

