#log-in-page.lo-devise-page
  .lo-container
    .pure-g
      .pure-u-1.pure-u-lg-3-5.lhs= code_person_widget
      .pure-u-1.pure-u-lg-2-5.rhs
        .frame
          %h1 Log in
          =link_to user_github_omniauth_authorize_path, class: 'github-button pure-button' do
            =graphical_icon :github, style: :brand
            with
            %strong GitHub

          .or or

          =notice_and_alert

          .instruction Enter your log in details to access your account.
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = f.email_field :email, autofocus: true, placeholder: "Email address"
            = f.password_field :password, autocomplete: "off", placeholder: "Password"
            = f.button "Log in", class: 'pure-button'
          = render "devise/shared/links"
