%h2 Rate your mentors
-if solution.mentors.size == 0
  -if solution.track_in_independent_mode?
    %p You completed this solution in independent mode so mentor rating is not available.
  -else solution.mentors.size == 0
    %p You had no mentors for this solution.
-else
  %p
    Help us improve our mentoring by rating your mentors.
    Your mentors
    %strong will not
    see your rating.

  -solution.mentors.each do |mentor|
    .mentor-review
      =image mentor.avatar_url, mentor.name, class: "avatar"
      .details
        .handle= mentor.handle
        .interactions= pluralize mentor_iterations[mentor.id], "interaction"
      .stars
        -[5,4,3,2,1].each do |i|
          =radio_button_tag "mentor_reviews[#{mentor.id}][rating]", i
          =label_tag "mentor_reviews_#{mentor.id}_rating_#{i}", ""

      /=text_field_tag "mentor_reviews[#{mentor.id}][feedback]"
