#my-settings-page
  #nav.lo-nav-bar
    .lo-container
      /=link_to "Dashboard", root_path
      /=image_tag "nav-divider.png"
      %span Settings

  = notice_and_alert(current_user)
  .lo-container
    %h1 Account Settings
    .pure-g
      .pure-u-1-3.lhs
        %h2 CLI Token
        .token-explanation Your authentication token for the CLI is:
        =render "widgets/code_snippet", code: current_user.auth_token

        %h2 Change your password
        %p You can change your password at any point.

        =form_for current_user, url: [:my, :settings] do |f|
          -unless current_user.provider?
            .field
              =label_tag :old_password, "Enter your current password"
              =password_field_tag :old_password

          .field
            =f.label :password, "Enter your new password"
            =f.password_field :password

          .field
            =f.label :password_confirmation, "Confirm your current password"
            =f.password_field :password_confirmation

          =button_tag "Update Password", class: 'pure-button'

      .pure-u-2-3.rhs
        %h2 Privacy
        %p You can use different aliases on tracks where you wish to be anonymous.
        =form_tag [:update_user_tracks, :my, :settings], method: :patch do |f|
          %table.tracks
            %tr
              %th Track
              %th Use alias?
              %th How you will appear
            -@user_tracks.each do |user_track|
              %tr.track
                %td.title #{user_track.track.title} Track
                %td.anonymous
                  =check_box_tag "user_tracks[#{user_track.id}][anonymous]", 1, user_track.anonymous?, class: 'anonymous-toggle'
                  .toggles
                    %i.fa.fa-toggle-on
                    %i.fa.fa-toggle-off
                %td
                  .default{style: user_track.anonymous?? "display:none" : ""}
                    =image_tag current_user.avatar_url
                    .handle= current_user.handle
                  .anon{style: user_track.anonymous?? "" : "display:none"}
                    =image_tag "anonymous.png"
                    =text_field_tag "user_tracks[#{user_track.id}][handle]", user_track.handle, class: 'handle', placeholder: "Choose an alias for this track", required: user_track.anonymous?

          =button_tag "Update Privacy Settings", class: 'pure-button'

-content_for :js do
  :javascript
    $('.anonymous-toggle').change(function(){
      var $checkbox = $(this)
      var $handle = $checkbox.parent().next().find('input.handle')
      var $default = $checkbox.parent().next().find('.default')
      var $anon = $checkbox.parent().next().find('.anon')
      var anon = $checkbox.prop('checked')

      if(anon) {
        $default.hide()
        $anon.show()
      } else {
        $default.show()
        $anon.hide()
      }
      $handle.attr('required', anon)
    })
