.code-editor-manager.js-code-editor-manager
  .code-editor.js-code-editor{data: { config: config.to_json, filename: filename }}= code
  .code-editor-toolbar
    .code-editor-toolbar-option
      = form_with model: current_user, url: [:my, current_user] do |f|
        = f.label :theme, "Theme:"
        = f.select :theme,
          { "Dark" => "dark",  "Light" => "light" },
          {},
          { class: "js-theme-select js-skip-selectize", autocomplete: "off" }
    .code-editor-toolbar-option
      = label_tag "keybinding", "Keybinding:"
      = select_tag "keybinding",
        options_for_select({ "Ace" => "ace",  "Vim" => "vim", "Emacs" => "emacs" }),
        class: "js-code-editor-keybinding js-skip-selectize",
        autocomplete: "off"
