#mentor-solution-page
  #nav.lo-nav-bar
    .lo-container
      =link_to "Admin dashboard", [:admin, :dashboard]
      %span #{display_handle(@solution.user, @solution_user_track)}'s solution to #{@exercise.title}

  .track-header
    .lo-container
      =image display_avatar_url(@solution.user, @solution_user_track), display_handle(@solution.user, @solution_user_track)
      .inner
        =iterations_nav_widget(:admin, @solution, @iteration)
        %h2
          %strong #{@exercise.title}
          on the
          %strong #{@exercise.track.title} Track
        .byline by #{display_handle_link(@solution.user, @solution_user_track)}

  .lo-container
    .pure-g.panels
      .pure-u-1.pure-u-md-1-2.lhs
        .lhs-content
          .tabs-and-panes.selected-3
            .tabs
              .tab.tab-1
                Instructions
              .tab.tab-2
                Test suite
              .tab.tab-3
                Solution

            =render "solutions/panes", iteration: @iteration

      .pure-u-1.pure-u-md-1-2.rhs
        .discussion
          %h3 Mentor discussion
          -if @iteration.discussion_posts.size > 0
            .posts
              -@iteration.discussion_posts.each do |post|
                -user_track = @user_tracks["#{post.user_id}|#{@solution.exercise.track_id}"]
                =discussion_post_widget(post, @solution, user_track)
          -else
            .posts{style: "display:none"}
