.content
  %p Hi there,
  %p
    -if @solution.approved_by_id == User::SYSTEM_USER_ID
      Your solution to #{@solution.exercise.title} on the #{@solution.exercise.track.title} track has been automatically approved.
    -else
      A mentor has approved your solution to #{@solution.exercise.title} on the #{@solution.exercise.track.title} track.
    You can #{link_to "view it here", [:my, @solution]}.
