=link_to [:mentor, solution], class: 'solution' do
  .icons
    .exercise
      = image_tag solution.exercise.turquoise_icon_url
    = image_tag solution.exercise.track.hex_turquoise_icon_url, class: 'track'
    .joiner
    = image_tag display_avatar_url(solution.user, user_track), class: 'person'

  -difficulty_word = exercise_difficulty_word(solution.exercise)
  .details
    .difficulty{class: difficulty_word}= difficulty_word
    .title
      .handle #{display_handle(solution.user, user_track)}'s
      solution to
      .exercise #{solution.exercise.title}
    .extra
      .iteration Iteration ##{solution.iterations.count}
      .divider &nbsp;
      .submitted-at Submitted #{time_ago_in_words(solution.iterations.last.created_at)} ago

