=link_to [:mentor, solution], class: "solution #{solution.exercise.core? && !solution.track_in_independent_mode?? "core" : ""}" do
  .core= solution.legacy?? "Core (Legacy)" : "Core"
  .icons
    .exercise
      =image solution.exercise.turquoise_icon_url, solution.exercise.track.title
    =image solution.exercise.track.hex_turquoise_icon_url, solution.exercise.track.title, class: 'track'
    .joiner
    =image display_avatar_url(solution.user, user_track), display_handle(solution.user, user_track), class: 'person'

  -difficulty_word = exercise_difficulty_word(solution.exercise)
  .details
    /.difficulty{class: difficulty_word}= difficulty_word
    .title
      .handle #{display_handle(solution.user, user_track)}'s
      solution to
      .exercise #{solution.exercise.title}
    .extra
      .language #{solution.exercise.track.title}
      .divider &nbsp;
      .iteration Iteration ##{solution.iterations.size}
      .divider &nbsp;
      .submitted-at Last updated #{time_ago_in_words(solution.last_updated_by_user_at || solution.created_at)} ago

