-@testimonials.each do |solution_mentorship|
  .testimonial
    .feedback
      = graphical_icon "quote-left", style: :solid
      = solution_mentorship.feedback
    .about
      .user - @#{display_handle(solution_mentorship.solution.user, UserTrack.find_by(user: solution_mentorship.solution.user_id, track: solution_mentorship.solution.exercise.track))}
      on
      =link_to "#{solution_mentorship.solution.exercise.title} in #{solution_mentorship.solution.exercise.track.title}", mentor_solution_path(solution_mentorship.solution), class: 'exercise'

=paginate(@testimonials)
