#mentor-dashboard-page
  .header
    .lo-container
      %h1 Mentor Dashboard
      .h1-subtitle You can keep track on what needs responding to here.

  .lo-container
    .pure-g
      .pure-u-2-3
        =form_tag mentor_dashboard_path, method: :get, remote: true do
          .widget-filter
            .title Status:
            =select_tag :status, options_for_select({"Requires action from you": :require_action, "Waiting for them": :awaiting_user, "Completed": :completed, "Stale": :stale, "Unsubscribed": :abandoned}, @filter)

        %h2 Solutions you're mentoring
        .your-solutions{style: @your_solutions.present?? "display:block" : "display:none"}
          = render "your_solutions", your_solutions: @your_solutions, user_tracks: @user_tracks
        .no-solutions.personal{style: @your_solutions.empty?? "display:block" : "display:none"}
          You currently have no solutions that need mentoring.

        %h2 Next solutions to mentor
        -if @suggested_solutions.present?
          -@suggested_solutions.each do |solution|
            -user_track = @user_tracks["#{solution.user_id}|#{solution.exercise.track_id}"]
            =render "solution", solution: solution, user_track: user_track
        -else
          .no-solutions.general
            There are currently no solutions that need claiming.

      .pure-u-1-3
        .contributions-section
          %h2 Your Contribution
          .h2-subtitle see how you're helping
          .box
            You have mentored
            %strong #{pluralize @total_solutions_count, "solution"}
            and helped
            %strong #{pluralize @total_students_count, "student"}
            since you became a mentor.

        -if @feedbacks.size > 0
          .celebration-section
            %h2 Celebration Stream
            .h2-subtitle see your latest feedback
            -@feedbacks.each do |feedback|
              .box
                =feedback

-content_for :js do
  :javascript
    submitOnChange($('select'))
