#mentor-testimonials-page
  .header
    .lo-container
      %h1 Mentor dashboard
      .h1-subtitle
        You can keep track of what needs responding to here.
        If you're stuck, check out the #{link_to "Mentoring guide", mentoring_guide_page_path}, #{link_to "Mentoring FAQs", mentoring_faqs_page_path} or ask questions on Slack.

      .header-tabs
        =link_to "Solutions you're mentoring (#{@tab_your_count})", your_solutions_mentor_dashboard_path, class: 'header-tab'
        =link_to "New solutions (#{@tab_next_count})", next_solutions_mentor_dashboard_path, class: 'header-tab'
        =link_to "Testimonials (#{@tab_testimonials_count})", testimonials_mentor_dashboard_path, class: 'header-tab selected'


  .lo-container
    =render "testimonials"


