#mentor-dashboard-page
  .header
    .lo-container
      %h1 Mentor dashboard
      .h1-subtitle
        You can keep track of what needs responding to here.
        If you're stuck, check out the #{link_to "Mentoring guide", mentoring_guide_page_path}, #{link_to "Mentoring FAQs", mentoring_faqs_page_path} or ask questions on Slack.

      .header-tabs
        =link_to "Solutions you're mentoring (#{@tab_your_count})", your_solutions_mentor_dashboard_path, class: 'header-tab selected'
        =link_to "New solutions (#{@tab_next_count})", next_solutions_mentor_dashboard_path, class: 'header-tab'

  .lo-container
    .pure-g
      .pure-u-1.pure-u-lg-2-3
        =render "your_solutions_section"

      .pure-u-1.pure-u-lg-1-3
        .rating-section
          %h2 Your Mentor Rating
          .box
            -if @rating_threshold_reached
              .rating #{number_with_precision(@mentor_rating, precision: 2)} / 5
              -if @mentor_rating > Exercism::MEDIAN_MENTOR_RATING
                %p The median mentor rating is #{Exercism::MEDIAN_MENTOR_RATING} so you are doing a great job. Thank you on behalf of all the people you've helped.
              -else
                %p The median mentor rating is #{Exercism::MEDIAN_MENTOR_RATING}. If you'd like to improve your mentor rating, check out the community mentor notes on each solution, which provide useful pointers.
            -else
              %p
                When someone completes a solution they are asked to rate their mentor.
                Once five learners have rated your mentoring, we will show you your average score.

        -if @weekly_solutions_count > 0
          .weekly-section
            -weekly_progress_percentage = @weekly_solutions_count / 10.0 * 100
            %h2 Your weekly progress
            .h2-subtitle See how you're helping
            .box
              %p
                For all learners to receive mentoring, we need each mentor to give feedback on
                %strong 10 solutions per week.

              .bar-widget{class: (@weekly_solutions_count >= 10 ? "completed" : "")}
                .count= @weekly_solutions_count
                .bar
                  .fill{style: "width:#{weekly_progress_percentage}%"}

              -if @weekly_solutions_count == 0
                If you're unsure where to start, take a look at the
                =link_to "Mentoring guide", mentoring_guide_page_path
                or reach out to the community on
                #{link_to "Slack", "https://exercism-mentors.slack.com/archives/CBDA9LMDF/p1529968977000336"}.

              -elsif @weekly_solutions_count >= 10
                %p
                  So far this week you've given feedback on
                  %strong #{@weekly_solutions_count} solutions.
                  Thank you for putting in the time and helping so many others learn. You're making the world better.
                .hr
                Know someone who would be a good mentor? Ask them to visit
                =link_to become_a_mentor_url, become_a_mentor_url

              -else
                So far this week you've given feedback on
                %strong #{@weekly_solutions_count} solutions.
                Thank you!
                .hr
                Know someone who would be a good mentor? Ask them to visit
                =link_to become_a_mentor_url, become_a_mentor_url

        -if @total_solutions_count > 0
          .contributions-section
            %h2 Your contribution
            .h2-subtitle see how you're helping
            .box
              You have mentored
              %strong #{pluralize @total_solutions_count, "solution"}
              and helped
              %strong #{pluralize @total_students_count, "student"}
              since you became a mentor.

        -if @feedbacks.size > 0
          .celebration-section
            %h2 Celebration stream
            .h2-subtitle see your latest feedback
            -@feedbacks.each do |feedback|
              .box
                =feedback

        .help-section
          %h2 Mentoring help and information
          .h2-subtitle Get help with mentoring
          .box
            %p
              We've put together some guides and information to help with mentoring. We also have a Slack room where you can chat about exercises and socialise with the community.
            %ul
              %li= link_to "Getting started guide", mentoring_getting_started_page_path
              %li= link_to "Mentoring workflow", mentoring_workflow_page_path
              %li= link_to "Mentoring FAQs", mentoring_faqs_page_path
              %li= link_to "Our Slack room", "https://exercism-team.slack.com/messages/CARRG4MNC"


-content_for :js do
  :javascript
    submitOnChange($('select'))
