#exercises-page
  #nav.lo-nav-bar
    .lo-container
      =link_to "Home", root_path
      =link_to "Language tracks", [:tracks]
      =link_to "#{@track.title} track", @track
      %span Exercises

  .header
    .visual-section
      .line
      .lo-container
        =bordered_turquoise_track_icon(@track, class: 'logo')
    .lo-container
      %h1 Exercises on the #{@track.title} track
      = link_to "Join the #{@track.title} Track", [:join, @track], method: :post, class: 'pure-button'
      /.stats
      /  .stat= pluralize @track.exercises.count, "Exercise"
      /  .stat= pluralize @track.user_tracks.count, "Students"
      /  /.stat= pluralize @track.iterations.count, "Submissions"
      /  .stat= pluralize @track.mentorships.count, "Mentors"
      .h1-subtitle #{@track.exercises.count} exercises to help you master #{@track.title}

  .exercises
    .lo-container
      .pure-g
        -@exercises.each do |exercise|
          =cache(["my/exercises/index", exercise], skip_digest: true, expires_in: 1.hour) do
            .pure-u-1.pure-u-md-1-2
              = link_to [@track, exercise], class: "exercise" do
                .icon
                  .img{style: "background-image:url('#{image_path(exercise.turquoise_icon_url)}')"}

                -length_word = exercise_length_word(exercise)
                -difficulty_word = exercise_difficulty_word(exercise)
                .stats
                  -# TODO: Uncomment this when exercise_length_word has been fix to no longer return medium by default
                  -# .length{class: length_word}= length_word
                  .difficulty{class: difficulty_word}= difficulty_word
                %h3= exercise.title
                .details
                  %summary= exercise.blurb
                  .topics
                    -if exercise.topic_names.present?
                      - exercise.topic_names.each do |topic_name|
                        .topic= topic_name
                    -else
                      .topic misc
