#exercise-page
  #nav.lo-nav-bar
    .lo-container
      =link_to "Home", root_path
      =link_to "Language tracks", :tracks
      =link_to "#{@track.title} track", @track
      =link_to "Exercises", [@track, :exercises]
      %span= @exercise.title

  .header
    .lo-container
      .track
        =bordered_turquoise_track_icon @track
        .title #{@track.title} track
      .icon
        =graphical_image @exercise.white_icon_url
      %h1= @exercise.title
      .h1-subtitle
        An exercise from the #{link_to "#{@exercise.track.title} track", @exercise.track}

  .info-section
    .lo-container
      -difficulty_word = exercise_difficulty_word(@exercise)
      .difficulty{class: difficulty_word}= difficulty_word
      %h2 About this exercise
      -length_word = exercise_length_word(@exercise)
      -# TODO: Uncomment this when exercise_length_word has been fix to no longer return medium by default
      -# .length{class: length_word}= length_word

      %p.blurb= @exercise.blurb
      .topics
        -@exercise.topic_names.each do |topic_name|
          .topic= topic_name

  .lo-container
    .pure-g
      -@solutions.each do |solution|
        .pure-u-1.pure-u-md-1-3
          =render "solutions/solution", solution: solution, user_track: @user_tracks[solution.user_id]
    =link_to "View all solutions", [@track, @exercise, :solutions], class: 'pure-button more-button'
