-readonly ||= false

-if @iteration.discussion_posts.size > 0
  .posts
    -@iteration.discussion_posts.each do |post|
      -user_track = @post_user_tracks["#{post.user_id}|#{@solution.exercise.track_id}"]
      =discussion_post_widget(post, @solution, user_track)

-elsif !(@solution.approved? || @solution.completed?)
  .posts{style: "display:none"}
  .next-steps
    .title ↳ Next steps

    %p Well done on submitting your iteration. A mentor will check out your work and leave a comment here on your solution soon.
    %p
      -if @solution.exercise.core?
        In the meantime why not try a different exercise on the
        =link_to "#{@track.title} track", [:my, @track]
        or explore the #{link_to "other Exercism tracks", [:my, :tracks]}.
      -else
        In the meantime why not explore how 
        #{link_to "other people have solved this", track_exercise_solutions_path(@track, @exercise)}.
-else
  .posts{style: "display:none"}

-unless readonly
  .new-editable-text
    =form_for [:my, DiscussionPost.new], remote: true do |f|
      =hidden_field_tag :iteration_id, @iteration.id

      .tabs-and-panes.selected-1
        .tabs
          .tab.tab-1.write-tab{data: {tab: "markdown"}} Write
          .tab.tab-2.preview-tab{data: {tab: "preview"}} Preview
        .panes
          .pane.pane-1.markdown
            =f.text_area :content, required: true
          .pane.pane-2.preview
            .preview-area

      =button_tag "Comment", class: "comment-button js-disable-on-click pure-button #{@solution.approved?? "faded" : ""}"
      -if @solution.user_track.independent_mode? && !@solution.completed?
        =link_to "Complete exercise", [:complete, :my, @solution], method: :patch, remote: true, class: "pure-button complete-button independent js-disable-on-click"
      -elsif @solution.user_track.mentored_mode? && !@solution.approved?
        =link_to "Complete exercise (Unapproved)", [:confirm_unapproved_completion, :my, @solution], method: :get, remote: true, class: "pure-button complete-button unapproved js-disable-on-click"
