#nav.lo-nav-bar
  .lo-container
    =link_to "Language tracks", [:my, :tracks]
    =link_to "#{@track.title} track", [:my, @track]
    %span= @exercise.title

.lo-container.track-header-container
  .track-header
    .icon
      =graphical_image @exercise.white_icon_url
    .inner
      -if @iteration
        =iterations_nav_widget(:my, @solution, @iteration)

      %h2= @exercise.title
      .track-progress-mobile
        = "#{@user_track.num_completed_core_exercises}/#{@track.exercises.core.count} Exercises on the "
        = link_to "#{@track.title} Track", [:my, @track]
      .track-progress
        -if @user_track.independent_mode?
          %h3 In Independent Mode
        -else
          -if @exercise.side?
            %h3 Side exercise
          -else
            %h3 Track progress:
            -num_core_exercises = @track.exercises.core.count
            -num_completed_exercises = @user_track.num_completed_core_exercises
            -num_available_exercises = @user_track.num_available_core_exercises + num_completed_exercises

            .dots
              -num_core_exercises.times do |i|
                -if i < num_completed_exercises
                  .dot.completed
                -elsif i < num_available_exercises
                  .dot.current
                -else
                  .dot.locked
