- num_avaliable_core_exercises = @user_track.num_avaliable_core_exercises
- num_avaliable_side_exercises = @user_track.num_avaliable_side_exercises
.finished-section
  .title-block
    %h3
      =icon("check-circle", "checkmark")
      Well done on solving this exercise!
  .next-block
    %h3
      =graphical_icon("question-circle")
      What's next?

    =render "my/solutions/widgets/community_solutions"

    -if num_avaliable_core_exercises.size > 0 || num_avaliable_side_exercises.size > 0
      .next-option
        %p
          %strong Carry on coding.
          You have
          -if num_avaliable_core_exercises > 0
            #{pluralize num_avaliable_core_exercises, "core exercise"}
            -if num_avaliable_side_exercises > 0
              and
          -if num_avaliable_side_exercises > 0
            #{pluralize num_avaliable_side_exercises, "side exercise"}
          that you have not yet completed on this track. Why not try a new challenge?

        =link_to "Choose next exercise", my_track_path(@track), class: 'pure-button'

    .next-option
      -if @user_track.mentoring_slots_remaining?
        %p
          %strong Request mentor feedback.
          You may request mentoring on up to #{UserTrack::MAX_MENTORING_SLOTS} non-core exercise per track. You have #{@user_track.mentoring_slots_remaining} slots remaining.
        =link_to "Request mentor feedback", request_mentoring_my_solution_path(@solution), method: :patch, class: 'pure-button'
      -else
        %p
          %strong Request mentor feedback (disabled).
          You may request mentoring on up to #{UserTrack::MAX_MENTORING_SLOTS} non-core exercise per track.
          Once your existing non-core solutions have been mentored you will be able to request mentoring for this solution.
        =link_to "Request mentor feedback", "#", class: 'pure-button disabled', disabled: true

