=link_to "Mark as completed", [:complete, :my, @solution], method: :patch, remote: true, class: 'pure-button'

#my-solution-started-page
  #nav.lo-nav-bar
    .lo-container
      =link_to "Dashboard", root_path
      =image_tag "nav-divider.png"
      =link_to "#{@track.title} Track", [:my, @track]
      =image_tag "nav-divider.png"
      %span= @exercise.title

  .lo-container
    .track-header
      .icon
        =image_tag @exercise.white_icon_url
      .inner
        / TODO
        .iteration-nav
          .title
            Iteration
            %strong 1
            of 3
          .first
            %i.fa.fa-fw.fa-fast-backward
          .prev
            %i.fa.fa-fw.fa-backward
          .next.disabled
            %i.fa.fa-fw.fa-forward
          .last.disabled
            %i.fa.fa-fw.fa-fast-forward

        %h2= @exercise.title
        .track-progress
          %h3 Track Progress:
          -num_core_exercises = @track.exercises.core.count
          -num_completed_exercises = @user_track.num_completed_core_exercies
          -exercise_idx = @track.exercises.core.where("position < ?", @exercise.position).count

          .dots
            -num_core_exercises.times do |i|
              -if i == exercise_idx
                .dot.current
              -elsif i < num_completed_exercises
                .dot.completed
              -else
                .dot.locked

    .notifications-bar
      =link_to [@track, @exercise, :solutions], class: 'pure-button community-solutions' do
        %i.fa.fa-users
        Community Solutions

      -if @solution.completed?
        .notification.action
          Solution completed!!

      -elsif @solution.approved?
        .notification.action
          %i.fa.fa-bell
          %span.text A mentor has approved this solution
          =link_to "Mark as completed", [:complete, :my, @solution], method: :patch, remote: true
      -elsif @iteration.notifications.unread.size > 0
        .notification
          New comment
      -else
        .notification
          %i.fa.fa-clock-o
          Well done on submitting. A mentor will leave you feedback shortly.

    .pure-g.panels
      .pure-u-1-2.lhs
        .lhs-content
          .tabs-and-panes.selected-3
            .tabs
              .tab.tab-1
                Instructions
              .tab.tab-2
                Test Suite
              .tab.tab-3
                Latest Solution

            .panes
              .pane.pane-1.instructions
                =raw @iteration.solution.instructions
              .pane.pane-2.test-suite
                -@iteration.solution.test_suite.each do |filename, code|
                  %h3= filename
                  %pre.line-numbers
                    %code{class: "language-ruby"}
                      = code
              .pane.pane-3.solution
                %pre.solution-code.line-numbers{data: {line: "3,6"}}
                  %code{class: "language-ruby"}
                    = @iteration.code

      .pure-u-1-2.rhs
        .discussion
          %h3 Mentor Discussion
          -if @iteration.discussion_posts.size > 0
            .posts
              =render partial: "my/discussion_posts/post", collection: @iteration.discussion_posts
          -else
            .posts{style: "display:none"}
            .next-steps
              .title ↳ Next Steps

              %p Well done on submitting your iteration. A mentor will check out your work and leave a comment here on your solution soon
              %p
                In the meantime why not try a different exercise on the
                =link_to "#{@track.title} track", [:my, @track]
                or explore the #{link_to "other Exercism tracks", [:my, :tracks]}.

          =form_for [:my, DiscussionPost.new], remote: true, html: {class: "new-discussion-post-form"} do |f|
            =hidden_field_tag :iteration_id, @iteration.id

            .tabs-and-panes.selected-1
              .tabs
                .tab.tab-1{data: {tab: "markdown"}} Write
                .tab.tab-2.preview-tab{data: {tab: "preview"}} Preview
              .panes
                .pane.pane-1.markdown
                  =f.text_area :content
                .pane.pane-2.preview
                  .preview-area

            =button_tag "Comment", class: 'pure-button'

    -#
      .solution-footer
        .pure-g
          .pure-u-1-2
            /Other Solutions
          .pure-u-1-2
            -unless @solution.completed?
              -if @solution.approved?
                =link_to "Mark as completed", [:complete, :my, @solution], method: :patch, remote: true
              -else
                =link_to "Mark as completed", [:confirm_unapproved_completion, :my, @solution], method: :get, remote: true

    -#
      %h1 Your solution to #{@exercise.title}

      %p You're iterating!!

      %ul
        -@solution.iterations.each.with_index do |iteration, idx|
          %li
            -if iteration == @iteration
              = idx + 1
              (Selected)
            -else
              =link_to (idx + 1), solution_path(iteration_id: iteration.id)

      %h2 Code

      %h2 Discussion

-content_for :js do
  :coffeescript

    setupLayout = =>
      $lhs = $('.lhs')
      $lhs_content = $('.lhs-content')
      $lhs_content.css
        left: $lhs.position().left
        width: $lhs.outerWidth()

    $window = $(window)
    $lhs = $('.lhs')
    # TODO - Reenalbe and fix the disco
    #$window.scroll =>
    #  if $window.scrollTop() > $lhs.position().top - 10
    #    $lhs.addClass('fixed')
    #  else
    #    $lhs.removeClass('fixed')


    ###
    #panelsHeight = $(window).height() - $('.panels').position().top - $('.solution-footer').outerHeight() - 10
    panelsHeight = $(window).height() - $('.solution-footer').outerHeight() - 10
    $('.panels').css('max-height', panelsHeight)
    ###

    ###
    panesHeight = $('.panels').outerHeight() - 50
    $('.main-panes').css('height',)
    ###

    setupTabs = =>
      $('.tab').click ->
        $container = $(this).closest('.tabs-and-panes')
        console.log $container

        for c in $container[0].className.split(" ")
          $container.removeClass(c) if c.startsWith("selected-")

        tabId = null
        for c in this.className.split(" ")
          tabId = c.replace("tab-", "") if c.startsWith("tab-")

        $container.addClass("selected-\#{tabId}") if tabId

    setupNewDiscussionPost = =>
      $textarea = $(".new-discussion-post-form textarea")
      smde = new SimpleMDE
        element: $textarea[0]
        spellChecker: false
        forceSync: true
        status: false
        toolbar: ["bold", "italic", "strikethrough", "|", "quote", "code", "link", "|", "unordered-list", "ordered-list"]

      $('.preview-tab').click ->
        markdown = $textarea.val()
        $.post "/markdown/parse", {markdown: markdown}, (x,y,z) =>
          console.log x,y,z
          $('.new-discussion-post-form .preview-area').html(x)
          Prism.highlightAll()

      $('.CodeMirror').bind 'heightChange', =>
        $('.preview-area').css(height: $('.CodeMirror').outerHeight())

    setupTabs()
    setupLayout() # TODO - Reenable but stop the disco thing!
    setupNewDiscussionPost()

    $window.resize setupLayout
