#user-experiment-language
  =breadcrumb_nav do
    %li= link_to "Experiments", research_experiments_path
    %li= link_to @experiment.title, research_experiment_path(@experiment)

  .research-header
    .lo-container
      .subtitle= @experiment.title
      %h1 Taking part in #{@language_track.title}

  .lo-container
    .content
      %h2 This experiment
      %p Each language has two parts, which target different learning goals for this experiment. Complete part 1 in order to unlock part 2.

      -part1_status = @part1_solution ? (@part1_solution.finished?? "completed" : "in-progress") : "enabled"
      -part2_status = @part2_solution.try(&:finished?) ? "completed" : (@part2_solution ? "in-progress" : (@part1_solution.try(&:finished?) ? "enabled" : "disabled"))
      .parts
        .part-1.part{class: part1_status}
          %h2 #{@language_track.title}: Part 1
          .status.not-started Not started
          .status.in-progress
            In progress
            %i.far.fa-clock
          .status.completed
            Completed
            %i.far.fa-check-circle
          %p In part 1 you will lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          =render "language_part", part: 1, solution: @part1_solution, status: part1_status

        .part-2.part{class: part2_status}
          %h2 #{@language_track.title}: Part 2
          .status.not-started Not started
          .status.in-progress In progress
          .status.completed Completed
          %p In part 2 you will lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          =render "language_part", part: 2, solution: @part2_solution, status: part2_status
