.widget-iterations-nav
  .title
    Iteration
    %strong #{current_idx}
    of #{iteration_ids.size}
  .iterations
    -idx = 1 # 1-based index
    -iteration_ids.each.with_index do |iteration_id|
      -if current_idx == idx
        .current
          .idx= idx
          .num-comments= num_comments[iteration_id]
      -else
        =link_to iteration_path(url_path, url_parts + [iteration_idx: idx]) do
          .idx= idx
          .num-comments= num_comments[iteration_id]

      -idx += 1
