-solution = iteration.solution
-language = solution.exercise.track.syntax_highligher_language
.panes
  .pane.pane-1.instructions
    =raw solution.instructions
  .pane.pane-2.test-suite
    -solution.test_suite.each do |filename, code|
      %h3= filename
      %pre.line-numbers
        %code{class: "language-#{language}"}
          = code
  .pane.pane-3
    -if iteration.files.size == 1
      .solution.single-file
        %pre.solution-code.line-numbers
          %code{class: "language-#{language}"}
            = iteration.files.first.file_contents.force_encoding('utf-8')
    -else
      -iteration.files.each do |file|
        .solution.multi-file
          %h3= file.filename
          %pre.solution-code.line-numbers
            %code{class: "language-#{language}"}
              = file.file_contents.force_encoding('utf-8')
