=link_to [track, exercise, solution], class: 'solution' do
  .person
    =image_tag display_avatar_url(solution.user, user_track)
    .handle= display_handle(solution.user, user_track)
    .published-at Published #{time_ago_in_words(solution.published_at)} ago
  .reactions
    .reaction
      %i.fa.fa-fw.fa-thumbs-up
      .count= @reaction_counts[[solution.id, "like"]].to_i
    .reaction.highlight
      %i.fa.fa-fw.fa-heart
      .count= @reaction_counts[[solution.id, "love"]].to_i
    .reaction
      =image_tag "genius.png"
      .count= @reaction_counts[[solution.id, "genius"]].to_i
    .reaction
      %i.fa.fa-fw.fa-comment
      .count= @comment_counts[solution.id].to_i
