#solution-page
  #nav.lo-nav-bar
    .lo-container
      -if user_signed_in?
        /=link_to "Dashboard", root_path
        /=nav_divider
        =link_to "Language tracks", [:my, :tracks]
        =nav_divider
        =link_to "#{@track.title} track", [:my, @track]
        =nav_divider
        -if @user_solution
          =link_to "Your solution to #{@exercise.title}", [:my, @user_solution]
          =nav_divider
        =link_to "Community solutions", [@track, @exercise, :solutions]
        =nav_divider
        %span This solution

      -else
        =link_to "Language tracks", :tracks
        =nav_divider
        =link_to "#{@track.title} track", @track
        =nav_divider
        =link_to "Exercises", [@track, :exercises]
        =nav_divider
        =link_to @exercise.title, [@track, @exercise]
        =nav_divider
        =link_to "Community solutions", [@track, @exercise, :solutions]
        =nav_divider
        %span This solution

  .lo-container
    .header
      =image display_avatar_url(@solution.user, @solution.user.user_track_for(@track)), "Avatar of #{display_handle(@solution.user, @solution.user.user_track_for(@track))}", class: "avatar"

      =render "reactions"

      %h1 #{display_handle(@solution.user, @solution.user.user_track_for(@track))}'s solution

      %h2
        to #{link_to @exercise.title, [@track, @exercise], class: "exercise"}
        in the #{link_to "#{@track.title} Track", @track, class: "track"}

  .lo-container
    .pure-g.panels
      .pure-u-1-2.lhs
        .lhs-content
          .tabs-and-panes.selected-3
            .tabs
              .tab.tab-1
                Instructions
              .tab.tab-2
                Test suite
              .tab.tab-3
                Solution

            -if @iteration
              =render "solutions/panes", iteration: @iteration

        -if user_signed_in?
          .react
            %h3 React to this solution
            =link_to [:my, :reactions, solution_id: @solution, emotion: 'like'], class: "like #{@user_reaction.try(:emotion) == "like" ? "selected" : ''}", method: :post, remote: true do
              .hover Well done
              =icon 'thumbs-up fa-fw', 'Thumbs up'
            =link_to [:my, :reactions, solution_id: @solution, emotion: 'love'], class: "love #{@user_reaction.try(:emotion) == "love" ? "selected" : ''}", method: :post, remote: true do
              .hover Love it!
              =icon 'heart fa-fw', 'Heart'
            =link_to [:my, :reactions, solution_id: @solution, emotion: 'genius'], class: "genius #{@user_reaction.try(:emotion) == "genius" ? "selected" : ''}", method: :post, remote: true do
              .hover Genius!
              =graphical_image "genius.png", class: 'not-selected'
              =graphical_image "genius-turquoise.png", class: 'selected'

      .pure-u-1-2.rhs
        -if @solution.reflection.present?
          .reflection
            %h3 #{display_handle(@solution.user, @solution.user.user_track_for(@track))}'s Reflection
            =simple_format @solution.reflection
        -else
          .no-reflection
            %h3 What can you learn from this solution?
            %p A huge amount can be learnt from reading other people’s code. This is why we wanted to give exercism users the option of making their solutions public.
            %p Here are some questions to help you reflect on this solution and learn the most from it.
            %ul
              %li What compromises have been made?
              %li Are there new concepts here that I could read more about to develop my understanding?

  .comments-section
    .lo-container
      .pure-g
        .pure-u-1-2
          %h2 Community comments
          .h2-subtitle See what others have said about this solution
          =render 'community_comments'
          -if user_signed_in?
            %h2 Add a community comment
            .h2-subtitle Share feedback on this solution
            .new-discussion-post
              =form_for [:comment, :my, Reaction.new], url: comment_my_reaction_url, remote: true, html: {class: "new-discussion-post-form"} do |f|
                =hidden_field_tag :solution_id, @solution.uuid

                .tabs-and-panes.selected-1
                  .tabs
                    .tab.tab-1.write-tab{data: {tab: "markdown"}} Write
                    .tab.tab-2.preview-tab{data: {tab: "preview"}} Preview
                  .panes
                    .pane.pane-1.markdown
                      =text_area_tag :comment
                    .pane.pane-2.preview
                      .preview-area
                .react.react-comments
                  .general.react-icon.selected
                    =radio_button_tag :emotion, 'legacy', true
                    .hover Comment
                    =icon 'comment fa-fw', 'Comment'
                  .like.react-icon
                    =radio_button_tag :emotion, 'like', false
                    .hover Well done
                    =icon 'thumbs-up fa-fw', 'Thumbs up'
                  .love.react-icon
                    =radio_button_tag :emotion, 'love', false
                    .hover Love it!
                    =icon 'heart fa-fw', 'Heart'
                  .genius.react-icon
                    =radio_button_tag :emotion, 'genius', false
                    .hover Genius!
                    =graphical_image "genius.png", class: 'not-selected'
                    =graphical_image "genius-turquoise.png", class: 'selected'    

                  =button_tag "Comment", class: 'pure-button button comment-button'

-content_for :js do
  :javascript
    setupSolution()

    $('.react-comments .react-icon').on('click', function(){
      $react = $(this)
      $('.react-comments .react-icon').removeClass('selected')
      $react.addClass('selected')
      $react.find('input[type=radio]').prop('checked', 'checked')
      $('.react-comments input[type=radio]').change()
    })

