#solution-page
  #nav.lo-nav-bar
    .lo-container
      -if user_signed_in?
        =link_to "Language tracks", [:my, :tracks]
        =link_to "#{@track.title} track", [:my, @track]
        -if @user_solution
          =link_to "Your solution to #{@exercise.title}", [:my, @user_solution]
        =link_to "Community solutions", [@track, @exercise, :solutions]
        %span This solution

      -else
        =link_to "Language tracks", :tracks
        =link_to "#{@track.title} track", @track
        =link_to "Exercises", [@track, :exercises]
        =link_to @exercise.title, [@track, @exercise]
        =link_to "Community solutions", [@track, @exercise, :solutions]
        %span This solution

  .lo-container
    .header
      .info
        =image display_avatar_url(@solution.user, @solution.user.user_track_for(@track)), "Avatar of #{display_handle(@solution.user, @solution.user.user_track_for(@track))}", class: "avatar"
        %h1 #{display_handle(@solution.user, @solution.user.user_track_for(@track))}'s solution
        %h2
          to #{link_to @exercise.title, [@track, @exercise], class: "exercise"}
          in the #{link_to "#{@track.title} Track", @track, class: "track"}
      .details
        -if @solution.user == current_user
          .starred-count
            %i.fas.fa-star
            Starred #{pluralize @solution.num_stars, "time"}
        -else
          =render "my/starred_solutions/star_button"

        .published-at
          Published at #{@solution.published_at.strftime("%b %d %Y")}
          &middot;
          =pluralize @solution.num_comments, "comment"

      .clearfix

  -if @solution.user == current_user
    .info-bar
      .lo-container
        This is your published solution.
        =link_to "Switch to solving mode.", [:my, @solution]

  .lo-container
    .pure-g.panels
      .pure-u-1.pure-u-md-1-2.lhs
        .lhs-content
          .tabs-and-panes.selected-3
            .tabs
              .tab.tab-1
                Instructions
              .tab.tab-2
                Test suite
              .tab.tab-3
                Solution

            -unless @solution.latest_exercise_version?
              .legacy-warning
                %h4 Note:
                -if @solution.published_at <= Exercism::V2_MIGRATED_AT
                  This solution was written on an old version of Exercism. The tests below might not correspond to the solution code, and the exercise may have changed since this code was written.
                -else
                  This exercise has changed since this solution was written.

            -if @iteration
              =render "solutions/panes", iteration: @iteration

        -if @solution.allow_comments? || @comments.size > 0
          =render "comments"
        -else
          =render "comments_disabled"

      .pure-u-1.pure-u-md-1-2.rhs
        -if @solution.reflection.present?
          .reflection
            %h3 #{display_handle(@solution.user, @solution.user.user_track_for(@track))}'s Reflection
            =simple_format @solution.reflection
        -else
          .no-reflection
            %h3 What can you learn from this solution?
            %p A huge amount can be learned from reading other people’s code. This is why we wanted to give exercism users the option of making their solutions public.
            %p Here are some questions to help you reflect on this solution and learn the most from it.
            %ul
              %li What compromises have been made?
              %li Are there new concepts here that you could read more about to improve your understanding?

=render_cta_footer

-content_for :js do
  :javascript
    window.setupTabs()
