#solution-page
  #nav.lo-external-nav-bar
    .lo-container
      =link_to "Home", root_path
      &middot;
      =link_to "Language Tracks", [:tracks]
      &middot;
      =link_to @track.title, @track
      &middot;
      =link_to @exercise.title, [@track, @exercise]

  .lo-container
    .header
      =image_tag profile_avatar_or_default_url(@solution.user.profile), class: "avatar"

      .stats
        .stat.applaud
          %i.fa.fa-thumbs-up
          .value= @reaction_counts.fetch('applaud', 0)

        .stat.wowed
          %i.fa.fa-sun-o
          .value= @reaction_counts.fetch('wowed', 0)

        .stat.love
          %i.fa.fa-heart
          .value= @reaction_counts.fetch('love', 0)

        .stat.comments
          %i.fa.fa-comments
          .value= @comments.size

      %h1 #{profile_link_or_anonymous(@solution.user.profile)}'s solution

      %h2
        for #{link_to @exercise.title, [@track, @exercise], class: "exercise"}
        =link_to @track, class: "track" do
          = image_tag @track.icon_url
          %span.title= @track.title

  .lo-container
    .pure-g.panels
      .pure-u-1-2.lhs
        .tabs-and-panes.selected-3
          .tabs
            .tab.tab-1
              Instructions
            .tab.tab-2
              Test Suite
            .tab.tab-3
              Solution

          .panes
            .pane.pane-1
              =@iteration.solution.instructions
            .pane.pane-2
              -@iteration.solution.test_suite.each do |filename, code|
                %h3= filename
                %pre.test-suite.line-numbers
                  %code{class: "language-ruby"}
                    = code
            .pane.pane-3.solution
              %pre.solution-code.line-numbers{data: {line: "3,6"}}
                %code{class: "language-ruby"}
                  = @iteration.code

        -if user_signed_in?
          .react
            %h3 React to this solution
            =link_to "#" do
              %i.fa.fa-thumbs-up
            =link_to "#" do
              %i.fa.fa-sun-o
            =link_to "#" do
              %i.fa.fa-heart

        .comments
          -@comments.each do |reaction|
            .comment.pure-g
              .pure-u-1-8
                %i.fa{class: reaction_icon(reaction)}
              .pure-u-7-8
                .when #{time_ago_in_words(reaction.created_at)} ago
                .who
                  %strong #{profile_link_or_anonymous reaction.user.profile}
                  says
                .text= reaction.comment

      .pure-u-1-2.rhs
        .reflection
          Some reflection goes here....

-content_for :js do
  :coffeescript
    setupTabs = =>
      $('.tab').click ->
        $container = $(this).closest('.tabs-and-panes')

        for c in $container[0].className.split(" ")
          $container.removeClass(c) if c.startsWith("selected-")

        tabId = null
        for c in this.className.split(" ")
          tabId = c.replace("tab-", "") if c.startsWith("tab-")

        $container.addClass("selected-\#{tabId}") if tabId
    setupTabs()
