#solution-page
  #nav.lo-nav-bar
    .lo-container
      -if user_signed_in?
        /=link_to "Dashboard", root_path
        /=nav_divider
        =link_to "Language Tracks", [:my, :tracks]
        =nav_divider
        =link_to "#{@track.title} Track", [:my, @track]
        =nav_divider
        -if @user_solution
          =link_to "Your Solution to #{@exercise.title}", [:my, @user_solution]
          =nav_divider
        =link_to "Community Solutions", [@track, @exercise, :solutions]
        =nav_divider
        %span This Solution

      -else
        =link_to "Language Tracks", :tracks
        =nav_divider
        =link_to "#{@track.title} Track", @track
        =nav_divider
        =link_to "Exercises", [@track, :exercises]
        =nav_divider
        =link_to @exercise.title, [@track, @exercise]
        =nav_divider
        =link_to "Community Solutions", [@track, @exercise, :solutions]
        =nav_divider
        %span This Solution

  .lo-container
    .header
      =image display_avatar_url(@solution.user, @solution.user.user_track_for(@track)), "Avatar of #{display_handle(@solution.user, @solution.user.user_track_for(@track))}", class: "avatar"

      =render "reactions"

      %h1 #{display_handle(@solution.user, @solution.user.user_track_for(@track))}'s solution

      %h2
        to #{link_to @exercise.title, [@track, @exercise], class: "exercise"}
        in the #{link_to "#{@track.title} Track", @track, class: "track"}

  .lo-container
    .pure-g.panels
      .pure-u-1-2.lhs
        .lhs-content
          .tabs-and-panes.selected-3
            .tabs
              .tab.tab-1
                Instructions
              .tab.tab-2
                Test Suite
              .tab.tab-3
                Solution

            -if @iteration
              =render "solutions/panes", iteration: @iteration

        -if user_signed_in?
          .react
            %h3 React to this solution
            =link_to [:my, :reactions, solution_id: @solution, emotion: 'like'], class: "like #{@user_reaction.try(:emotion) == "like" ? "selected" : ''}", method: :post, remote: true do
              .hover Well done
              =icon 'thumbs-up fa-fw', 'Thumbs up'
            =link_to [:my, :reactions, solution_id: @solution, emotion: 'love'], class: "love #{@user_reaction.try(:emotion) == "love" ? "selected" : ''}", method: :post, remote: true do
              .hover Love it!
              =icon 'heart fa-fw', 'Heart'
            =link_to [:my, :reactions, solution_id: @solution, emotion: 'genius'], class: "genius #{@user_reaction.try(:emotion) == "genius" ? "selected" : ''}", method: :post, remote: true do
              .hover Genius!
              =graphical_image "genius.png", class: 'not-selected'
              =graphical_image "genius-turquoise.png", class: 'selected'

      .pure-u-1-2.rhs
        -if @solution.reflection.present?
          .reflection
            %h3 #{display_handle(@solution.user, @solution.user.user_track_for(@track))}'s Reflection
            =simple_format @solution.reflection
        -else
          .no-reflection
            %h3 What can you learn from this solution?
            %p A huge amount can be learnt from reading other people’s code. This is why we wanted to give exercism users the option of making their solutions public.
            %p Here are some questions to help you reflect on this solution and learn the most from it.
            %ul
              %li What compromises have been made?
              %li Are there new concepts here that I could read more about to develop my understanding?

  -if @comments.size > 0
    .comments-section
      .lo-container
        .pure-g
          .pure-u-1-2
            %h2 Community comments
            .h2-subtitle See what others have said about this solution
            -@comments.each do |reaction|
              .comment.pure-g
                .pure-u-2-24
                  -if reaction.emotion == "like"
                    =icon 'thumbs-up'
                  -elsif reaction.emotion == "love"
                    =icon 'heart'
                  -elsif reaction.emotion == "genius"
                    =graphical_image "genius-turquoise.png"
                  -else reaction.emotion == "legacy"
                    =icon 'comment'

                .pure-u-22-24.content
                  .when #{time_ago_in_words(reaction.created_at)} ago
                  .who
                    %strong #{reaction.user.handle}
                    says
                  .text= simple_format reaction.comment

-content_for :js do
  :javascript
    window.setupSolutionTabs()
