=cache ["layouts/footer", "2", Date.today.to_s] do
  %footer
    .lo-container
      .pure-g
        .pure-u-1-6
          %h4 About
          =link_to "Exercism", root_path
          =link_to "About Exercism", about_page_path
          =link_to "Our values", values_page_path
          =link_to "Our team", team_page_path
        .pure-u-1-6
          %h4 Help
          =link_to "FAQs", faqs_page_path
          =link_to "Getting Started", getting_started_page_path
          =link_to "Exercism in bootcamps", "https://teams.exercism.io"
        .pure-u-1-6
          %h4 Get Involved
          =link_to "Contribute", contribute_page_path
          =link_to "Become a mentor", "http://mentoring.exercism.io/", target: "_blank"
          =link_to "Become a maintainer", become_a_maintainer_page_path
        .pure-u-1-6
          %h4 Legal &amp; Privacy
          =link_to "Terms", terms_page_path
          =link_to "Privacy", privacy_page_path
          =link_to "Code of Conduct", code_of_conduct_page_path
        .pure-u-1-6
          %h4 Keep in touch
          =link_to "Newsletter", "https://tinyletter.com/exercism", target: "_blank"
          =link_to "Discuss on GitHub", "https://github.com/exercism/discussions", target: "_blank"
          =link_to "Contact us", contact_page_path
          =link_to "Report Abuse", report_abuse_page_path
        .pure-u-1-6
          %h4 Follow
          =link_to "https://twitter.com/exercism_io", class: 'icon' do
            %i.fa.fa-twitter
          =link_to "https://facebook.com/exercism.io", class: 'icon' do
            %i.fa.fa-facebook-official
          =link_to "https://github.com/exercism", class: 'icon' do
            %i.fa.fa-github

      .legal
        .copyright © #{Time.current.year} Exercism, Inc
        .created-by
          Made with
          %i.fa.fa-heart
          and
          %i.fa.fa-coffee
          by
          #{link_to "Katrina Owen", "http://kytrinyx.com"},
          #{link_to "Thalamus", "http://thalamus.ai"}
          and #{link_to "#{number_with_delimiter Contributor.count} wonderful volunteers", team_page_path}.
