=cache ["layouts/footer", Date.today.to_s] do
  %footer
    .lo-container
      .pure-g
        .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-6
          %h4 About
          %ul
            %li= link_to "Exercism: Personal Edition", "https://exercism.io"
            %li= link_to "Exercism: Teams Edition", "https://teams.exercism.io"
            %li= link_to "About Exercism", about_page_path
            %li= link_to "Our values", values_page_path
            %li= link_to "Our team", team_page_path
        .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-6
          %h4 Help
          %ul
            %li= link_to "FAQs", faqs_page_path
            %li= link_to "Getting started", getting_started_page_path
            %li= link_to "Installing the CLI", cli_page_path
            %li= link_to "Interactive CLI walkthrough", cli_walkthrough_page_path
        .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-6
          %h4 Get involved
          %ul
            %li= link_to "Contribute", contribute_page_path
            %li= link_to "Become a mentor", become_a_mentor_path
            %li= link_to "Become a maintainer", become_a_maintainer_page_path
            %li= link_to "Exercism's roadmap", roadmap_page_path
        .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-6
          %h4 Legal &amp; Privacy
          %ul
            %li= link_to "Terms", terms_of_service_page_path
            %li= link_to "Privacy", privacy_page_path
            %li= link_to "Code of conduct", code_of_conduct_page_path
        .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-6
          %h4 Keep in touch
          %ul
            %li= link_to "Exercism's Blog", blog_posts_path
            %li= link_to "Newsletter", "https://tinyletter.com/exercism", target: "_blank"
            %li= link_to "Discuss on GitHub", "https://github.com/exercism/exercism.io", target: "_blank"
            %li= link_to "Contact us", contact_page_path
            %li= link_to "Report abuse", report_abuse_page_path
        .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-6
          %h4 Follow
          %ul.social
            %li
              =link_to "https://twitter.com/exercism_io", class: "icon", "aria-label": "Exercism on Twitter" do
                =graphical_icon :twitter
            %li
              =link_to "https://facebook.com/exercism.io", class: "icon", "aria-label": "Exercism on Facebook" do
                =graphical_icon 'facebook-official'
            %li
              =link_to "https://github.com/exercism", class: "icon", "aria-label": "Exercism on GitHub" do
                =graphical_icon :github
      .legal
        .copyright © #{Time.current.year} Exercism, Inc
        .created-by
          Made with
          =icon :heart
          and
          =icon :coffee
          by
          #{link_to "Katrina Owen", "http://kytrinyx.com"},
          #{link_to "Thalamus", "http://thalamus.ai"}
          and #{link_to "#{number_with_delimiter Contributor.count} wonderful volunteers", team_page_path}.
