%header.logged-in
  .lo-container
    %div.spacer
      =link_to root_path, class: "logo" do
        =image "logo-white.png", "Exercism"

    -if current_user_has_notifications?
      = link_to [:my, :notifications], class: "notifications active", "aria-label": "New notifications" do
        =graphical_icon "bell-o"
    -else
      = link_to [:my, :notifications], class: "notifications", "aria-label": "No notifications" do
        =graphical_icon "bell-o"

    .misc-menu{tabindex: "0"}
      .in-situ
        =image_tag current_user.avatar_url || "blank.png", alt: "Avatar for #{current_user.handle}"
        =graphical_icon 'caret-down'
      .dropdown
        =graphical_icon 'caret-up'
        .person
          Logged in as
          %strong #{current_user.handle}
        .hr
        = link_to "Tracks", [:my, :tracks]
        = link_to "Your profile", [:my, :profile]
        = link_to "Solutions you've liked", [:my, :reactions]
        .hr
        -if current_user.admin?
          = link_to "Admin dashboard", [:admin, :dashboard]

        -if current_user.mentor?
          = link_to "Mentor dashboard", [:mentor, :dashboard]
        -else
          = link_to "Become a mentor", "#"

        .hr
        = link_to "Settings", [:my, :settings]
        = link_to "Sign out", destroy_user_session_path, method: :delete
