%header.logged-in
  .lo-container
    #{current_user.name}
    &middot;
    =link_to "Home", root_path
    &middot;
    = link_to "Tracks", [:my, :tracks]
    &middot;
    = link_to "Settings", [:edit, :my, :settings, :communication_preferences]
    &middot;
    = link_to "Notifications", [:my, :notifications]
    -if current_user.admin?
      &middot;
      = link_to "Admin Dashboard", admin_dashboard_path
    -if current_user.mentor?
      &middot;
      = link_to "Mentor Dashboard", mentor_dashboard_path
    &middot;
    = link_to "Log out", destroy_user_session_path, method: :delete
