!!!
%html
  %head
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Montserrat+Alternates:400,700|Dosis:800'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %title Exercism
    = csrf_meta_tags

  %body{class: body_class}

    =render_header
    = yield
    =render "layouts/footer"

    #modal-wrapper
      #modal

    = javascript_include_tag 'application'
    = yield(:js)
